@{
    ViewBag.Title = "About";
} 
<div class="container wow fadeInDown" data-wow-delay="0.5s" id="about">
    "
    <br />
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.180993188394!2d106.70105091477151!3d10.797445792307302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b70447b96d%3A0xb8fb76b0fbcb717f!2zMTQxIMSQaeG7h24gQmnDqm4gUGjhu6csIFBoxrDhu51uZyAxNSwgQsOsbmggVGjhuqFuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1619157633008!5m2!1svi!2s" width="1100" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>



